<div xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Select balloon size</h1>
        </div>
    </section>

    <section>
        <form th:method="POST" action="/selectBalloon">
            <h2>Choose balloon size: <h2 th:text="${#session.getAttribute('color')}"></h2> </h2>
            <input type="radio" name="size" value="Small"> Small <br/>
            <input type="radio" name="size" value="Medium"> Medium <br/>
            <input type="radio" name="size" value="Big"> Big <br/>
            <input type="radio" name="size" value="Extra Big"> Extra Big <br/>
            <br/>
            <button type="sumbit">Submit</button>
        </form>
    </section>
    <aside>
        <table>
            <tr>
                <th colspan="2">
                    Your Order Status
                </th>
            </tr>
            <tr>
                <td><b>Balloon Type </b></td>
                <td th:text="${#session.getAttribute('color')}"></td>
            </tr>
        </table>
    </aside>

</div>